@use "@styles/font.scss";
@use "@styles/colour.scss";
@use "@styles/spacing.scss";

$experience-height: 100px;

$dropdown-icon-size: 25px;

.experienceSection {
  width: 60%;

  .experienceList {
    display: flex;
    flex-direction: column;
  }
}