@use "@styles/font.scss";
@use "@styles/colour.scss";
@use "@styles/spacing.scss";

.skillPillList {
  display: flex;
  flex-wrap: wrap;
  padding-top: spacing.$small;
  gap: spacing.$x-small;

  .skillPill {
    font-size: font.$small;
    padding: spacing.$x-small;
    border: 3px solid colour.$accent;
    color: colour.$accent;
    border-radius: 10px;
  }
}