@use "@styles/spacing.scss";
@use "@styles/colour.scss";

$logo-size: 50px;

.aboutSection {

  display: flex;

  .image {
    border-radius: 50%;
    width: 250px;
    padding: 0px spacing.$xx-large;
    margin-bottom: spacing.$small;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: spacing.$medium;

    .link {
      transition: all 0.3s ease;
      color: inherit;
      text-decoration: none;
  
      &:hover {
        color: colour.$accent;
        scale: 1.05;
      }
    }

  }

}