$xxx-small-spacing: 2px;
$xx-small-spacing: 4px;
$x-small-spacing: 8px;
$small-spacing: 16px;
$medium-spacing: 24px;
$large-spacing: 32px;
$x-large-spacing: 48px;
$xx-large-spacing: 64px;
$xxx-large-spacing: 128px;