@use "@components/navBar/NavBar.scss";
@use "@styles/spacing.scss";
@use "@styles/font.scss";

.sections {
  margin-top: NavBar.$nav-bar-height;

  .section {
    padding: spacing.$xx-large spacing.$xxx-large;

    display: flex;
    flex-direction: column;
    align-items: center;

    .sectionHeader {
      font-size: font.$x-large;
    }
  }
}