@import "../../styles/font.scss";
@import "../../styles/colour.scss";

$project-width: 200px;
$project-height: 200px;

.projectsSection {
  width: 100%;

  .projectsList {
    display: flex;
    justify-content: space-around;

    .project {
      width: $project-width;
      height: $project-height;
      text-align: center;
      align-content: center;
      font-size: $large-font-size;
      border: 3px solid black;
      border-radius: 10px;
      background-color: $secondary-colour;
    }
  }
}