@use "@styles/font.scss";
@use "@styles/colour.scss";
@use "@styles/spacing.scss";

$skill-width: 200px;
$skill-height: 200px;

$skill-logo-font-size: 100px;
$skill-logo-size: $skill-logo-font-size + 10px;

.skillsSection {
  width: 100%;

  .skillsList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: spacing.$medium;
    justify-items: center;

    .skill {
      width: $skill-width;
      height: $skill-height;
      text-align: center;
      align-content: center;
      font-size: font.$large;
      
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: colour.$secondary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .skillLogo {
        height: $skill-logo-size;
        font-size: $skill-logo-font-size;
        margin-bottom: spacing.$small;
      }

      .skillName {
        font-size: font.$medium;
      }
    }
  }
}