@use "@styles/spacing.scss";
@use "@styles/colour.scss";
@use "@styles/font.scss";

$nav-bar-height: 80px;

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-bar-height;
  display: flex;
  justify-content: center;
  background-color: colour.$secondary;
  
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  // todo: jma - add shrinking effect upon scroll

  .navBarItemList {
    display: flex;
    width: 60%;
    align-items: center;
    list-style: none;

    .navBarItem {
      flex-grow: 1;
      font-size: font.$large;
      margin: spacing.$small;
      text-align: center;

      &:hover {
        color: colour.$accent;
        cursor: pointer;
      }
      // todo: jma - add hover effect
    }
  }
}
