@use "@styles/font.scss";
@use "@styles/colour.scss";
@use "@styles/spacing.scss";

$dropdown-icon-size: 25px;

.experience {
  font-size: font.$medium;
  border: 3px solid black;
  border-radius: 10px;
  background-color: colour.$secondary;
  padding: spacing.$large spacing.$medium;
  margin: spacing.$small;
  transition: scale 0.3s ease;

  &:hover {
    scale: 1.03;
  }

  .collapsedExperienceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdownIcon {
      width: $dropdown-icon-size;
      height: $dropdown-icon-size;
      background-color: black;
      border-radius: 50%;
    }
  }

  .experienceDate {
    font-style: italic;
    font-size: font.$small-medium;
    padding: spacing.$small 0px;
  }

  .experienceDescription {
    font-size: font.$small-medium;
  }
}