@use "@styles/font.scss";
@use "@styles/colour.scss";
@use "@styles/spacing.scss";

$dropdown-icon-size: 25px;

.experience {
  font-size: font.$medium;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: colour.$secondary;
  padding: spacing.$large spacing.$medium;
  margin: spacing.$small;
  transition: scale 0.3s ease;

  &:hover {
    scale: 1.03;
  }

  .collapsedExperienceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dropdownIcon {
      &:hover {
        color: colour.$accent;
        scale: 1.05;
      }
    }
  }

  .experienceDate {
    font-style: italic;
    font-size: font.$small-medium;
    padding: spacing.$small 0px;
  }

  .experienceDescription {
    font-size: font.$small-medium;
  }
}