@use "@styles/spacing.scss";

$logo-size: 50px;

.aboutSection {

  display: flex;

  .image {
    border-radius: 50%;
    width: 250px;
    padding: 0px spacing.$xx-large;
    margin-bottom: spacing.$small;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: spacing.$medium;

    .link {
      width: $logo-size;
      height: $logo-size;
      background-color: black;
      border-radius: 50%;
    }
  }

}